// import core file
//-----------------------------------------------------
@import "core/_setting";
@import "core/_css3";
@import "core/_media-queries";
@import "core/_mixin";
@import "core/_grid";
@import "core/_zyz";

@import "module/_global";
.test{
  @include px2rem(width, 750px);
  @include px2rem(height, 150px);
  background-color: blue;
  @include px2px(font-size,32px);
  /*@include iphone5(){
    @include px2rem(font-size,98px);
  }*/
}
.flex-ul{
  @extend %flex;
  align-items: center;
  justify-content: center;
  li{
    flex:1;
    @include horizontal-line(1px solid $black, 10px);
  }
}
.flex{
  @extend %flex;
}
.tt{
  @include triangle(top,pxToRem(12px),#000)
}
.tt2{
  @include triangle-steep(top,6px,#000)
}
.tt3{
  @include arrow(top,pxToRem(12px),#000);
}